{% extends "base.html" %}

{% block title %}Add a Restaurant{% endblock %}

{% block script %}
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			var count = 2;
			$("#add_hours").click(
				function(e) {
					var text = '<ul id="id_form-XXX"><li><label for="id_form-XXX-day">Day:</label> <select name="form-XXX-day" id="id_form-XXX-day">\n<option value="" selected="selected">&#8211;&#8211;&#8211;</option>\n<option value="mon">Monday</option>\n<option value="tue">Tuesday</option>\n<option value="wed">Wednesday</option>\n<option value="thu">Thursday</option>\n<option value="fri">Friday</option>\n<option value="sat">Saturday</option>\n<option value="sun">Sunday</option>\n</select></li>\n<li><label for="id_form-XXX-open_time">Open time:</label> <input type="text" name="form-XXX-open_time" id="id_form-XXX-open_time" /></li>\n<li><label for="id_form-XXX-close_time">Close time:</label> <input type="text" name="form-XXX-close_time" id="id_form-XXX-close_time" /></li></ul>';
					$("#hours").append(text.replace(/XXX/g, count));
					$("#id_form-"+count).hide().show(2000);
					count = count + 1;
					total = $("#id_form-TOTAL_FORMS");
					total.val(count);
					var targetOffset = $(this).offset().top;
					$('html,body').animate({scrollTop: targetOffset}, 2000);
					return false;
				}).attr("href", "#");
			});	
	</script>
{% endblock %}

{% block content %}
<form id="restaurants" method="post" action=".">
	<fieldset>
		<legend>Address</legend>
	<ul>
	{{form.as_ul}}
	</ul>
	</fieldset>
	<fieldset id="hours">
		<legend>Hours</legend>
	{% for hour in hfs.forms %}
		<ul>
		{{hour.as_ul}}
		</ul>
	{% endfor %}
	</fieldset>
	{{hfs.management_form.as_ul}}
	<p><a href="?eh={{extra_hours}}" id="add_hours">Add More Hours</a></p>
<input class="button" type="submit" value="Add Restaurant" />
{% endblock %}