{% extends "base.html" %}
{% load comments %}
{% load tagging_tags %}

{% block title %}Info about {{object.name}}{% endblock %}

{% block script %}
	
	<script type="text/javascript" src="/assets/js/yui/yahoo-min.js"></script>
	<script type="text/javascript" src="/assets/js/yui/dom-min.js"></script>
	<script type="text/javascript" src="/assets/js/yui/event-min.js"></script>
	<script type="text/javascript" src="/assets/js/yui/connection-min.js"></script>
	<script type="text/javascript" src="/assets/js/yui/json-min.js"></script>
	<script type="text/javascript" src="/assets/js/objects.js"></script>
	
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAS-5gBFgwAFQUtVAJt6dALBQLe2pAG1dPDIKxYeUNHIP8NTaN5xQ-9s8j_PpGRMwn52s44b93IVD70Q" type="text/javascript"></script>
	
	<script type="text/javascript">

	var map = null;
	var geocoder = null;

	function initialize() {
	  if (GBrowserIsCompatible()) {
	    map = new GMap2(document.getElementById("map_canvas"));
	    geocoder = new GClientGeocoder();
	        showAddress("{{object.address1}}, {{object.city}}, {{object.state}}")
	  }
	}

	function showAddress(address) {
	  if (geocoder) {
	    geocoder.getLatLng(
	      address,
	      function(point) {
	        if (!point) {
	          alert(address + " not found");
	        } else {
				map.setCenter(point, 15);
	          var marker = new GMarker(point);
	          map.addOverlay(marker);
	          marker.openInfoWindowHtml('<a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q={{object.address1}} {{object.city}} {{object.state}}">{{object.name}}</a>');
	        }
	      }
	    );
	  }
	}
	</script>
	
{% endblock %}

{% block bodyargs %}onload="initialize()" onunload="GUnload()"{% endblock %}

{% block content %}
	        <h1>{% if object.website %}<a href="{{object.website}}">{% endif %}{{object.name}}{% if object.website %}</a>{% endif %}</h1>

	        <address>{{object.address1}}</address>
            {% if object.address2 %}<address>{{bussiness.address2}}</address>{% endif %}
            <address>{{object.city}}, {{object.state}}  {{object.zip}}</address>
            <address>{{object.phone}}</address>
    
			
	        <div id="map_canvas" style="width: 300px; height: 300px"></div>
	
			{% tags_for_object object as tags %}
			<ul id="tag_list">
				{% for tag in tags %}
					<li><a href="{{tag.name}}">{{tag.name}}</a></li>
				{% endfor %}
			</ul>
			{% if user.is_authenticated %}
				<form action="#" method="post" accept-charset="utf-8">
					<p><label for="tags">Tags</label><input type="text" name="tags" value="" id="tags" onKeyPress="return TAGS.on_enter(event)"> <a href="javascript:TAGS.add_tags()">add</a></p>

				</form>
			{% endif %}
			
			<div id="menu">
				<h4>Menu:</h4>
				{% for menu_item in object.menuitem_set.all %}
					{% if menu_item.is_available %}
						<div class="menu_item">
							<p>{{menu_item.name}} - ${{menu_item.price|floatformat:2}}</p>
							<p>{{menu_item.description}}</p>
							<p><a href="{{menu_item.id}}/not_available/">Not Available?</a> <a href="{{menu_item.id}}/wrong/">Wrong Information?</a></p>
						</div>
					{% endif %}
				{% endfor %}
				<a href="add_item">Add a Menu Item</a>
			</div>
			
			{% get_comment_list for object as comment_list %}
			{% for comment in comment_list %}
			<div class="comment">
			    <p>{% if comment.url%}<a href="{{comment.url}}">{% endif %}{{comment.user_name}}{% if comment.url%}</a>{% endif %} said:</p>
				<p>{{comment.comment}}</p>
				<p>On {{comment.submit_date|date:"D d M Y g:i A"}}</p>
			</div>
			{% endfor %}
	
			<div class="comment">
			{% render_comment_form for object %}
			</div>
{% endblock %}