{% extends "base.html" %}
{% load comments %}
{% load tagging_tags %}

{% block title %}{{object.name}} Restaurant in Portland, Oregon{% endblock %}

{% block script %}
    
    <script type="text/javascript" src="/assets/js/yui/yahoo-min.js"></script>
    <script type="text/javascript" src="/assets/js/yui/dom-min.js"></script>
    <script type="text/javascript" src="/assets/js/yui/event-min.js"></script>
    <script type="text/javascript" src="/assets/js/yui/connection-min.js"></script>
    <script type="text/javascript" src="/assets/js/yui/json-min.js"></script>
    <script type="text/javascript" src="/assets/js/objects.js"></script>
    
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAS-5gBFgwAFQUtVAJt6dALBQLe2pAG1dPDIKxYeUNHIP8NTaN5xQ-9s8j_PpGRMwn52s44b93IVD70Q" type="text/javascript"></script>
        
{% endblock %}

{% block bodyargs %}onload='RESTAUARANT.init();' onunload="GUnload()"{% endblock %}

{% block content %}
    <h1>{{object.name}}</h1>
    
	<div id="tagbox" class="rightframe">
    	{% tags_for_object object as tags %}
    	<ul id="tag_list">
    	    {% for tag in tags %}
    	        <li><a href="../tags/{{tag.name}}">{{tag.name}}</a></li>
    	    {% endfor %}
    	</ul>
    	{% if user.is_authenticated %}
    	    <form action="javascript:TAGS.add_tags()" method="" accept-charset="utf-8" name="addTag" id="addTag">
    	        <input type="text" name="tags" value="" id="tags">
    	        <input type="submit" name="Add_Tag" value="Add Tag">
    	    </form>
    	{% else %}
    	    <a href="/accounts/login/?next={{ object.get_absolute_url }}">Add Tags</a>
    	{% endif %}
	</div>
    
	<div id="address">
    	<address>{{object.address1}}</address>
    	{% if object.address2 %}
    	    <address>{{bussiness.address2}}</address>
    	{% endif %}
    	<address>{{object.city}}, {{object.state}}  {{object.zip}}</address>
    	<address>{{object.phone}}</address>
    	{% if object.website %}
    	    <address><a href="{{object.website}}">{{object.website}}</a></address>
    	{% endif %}
	</div>
    
	<div id="ratings">
    	{% if user.is_authenticated %}
    	<span id="rateStatus">Rate Me!</span>
    	<div id="rateMe" title="Rate Me!">
    		<a onclick="STAR.rateIt(this)" id="_1" title="Terrible" onmouseover="STAR.rating(this)" onmouseout="STAR.off(this)"> </a>
		    <a onclick="STAR.rateIt(this)" id="_2" title="Average" onmouseover="STAR.rating(this)" onmouseout="STAR.off(this)"> </a>
		    <a onclick="STAR.rateIt(this)" id="_3" title="Good" onmouseover="STAR.rating(this)" onmouseout="STAR.off(this)"> </a>
		    <a onclick="STAR.rateIt(this)" id="_4" title="Great" onmouseover="STAR.rating(this)" onmouseout="STAR.off(this)"> </a>
		    <a onclick="STAR.rateIt(this)" id="_5" title="The Best" onmouseover="STAR.rating(this)" onmouseout="STAR.off(this)"> </a>
    	</div>
    	{% else %}
			<span id="rateStatus">Unrated!</span>
    	    <div id="rateMe" title="Unrated!">
    	        <a id="_1" title="Terrible" ></a>
    	        <a id="_2" title="Average" ></a>
    	        <a id="_3" title="Good" ></a>
    	        <a id="_4" title="Great" ></a>
    	        <a id="_5" title="The Best" ></a>
    	    </div>
    	{% endif %}
	</div>
    
    <script type="text/javascript">
        STAR.preSet = document.getElementById("_{{ object.get_int_rating }}");
        STAR.rating(STAR.preSet);
    </script>
	
	<p id="showmap">
		<a href="#map" name="map" onclick='MAPS.initialize("{{object.name}}", "{{object.address1}}", "{{object.city}}", "{{object.state}}")'>Show Map</a>
	</p>
    <div id="map">
        <h1>Map to {{object.name}}</h1>
		<div class="frame">
    		<div id="map_canvas"></div>
    	</div>
	</div>

    <div id="menu">
        <h1>{{object.name}} Menu</h1>
        {% for menu_item in object.menuitem_set.all %}
            {% if menu_item.is_available %}
                <div class="box">
                    <h2>{{menu_item.name}} - ${{menu_item.price|floatformat:2}}</h2>
                    <div class="description">
                        <p>
                            {{menu_item.description}}
                        </p>
                        <p class="bottom">
                            <a href="{{menu_item.id}}/not_available/">Not Available?</a> | 
                            <a href="{{menu_item.id}}/wrong/">Wrong Information?</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    

	{% if user.is_authenticated %}
		<div id="menuform">
        	<h2>Add A Menu Item</h2>
        	<form id="menu_item" action="./?type=menu" method="POST">
            	{{menu_form.as_ul}}
            	<input type="submit" value="Add Item" />
        	</form>
    	</div>
		<p id="showmenu" style="display:none;"><a href="#menu" name="menu" onclick="RESTAUARANT.showmenuform()">Add a Menu Item</a></p>
    {% else %}
        <a href="/accounts/login/?next={{ object.get_absolute_url }}">Add a Menu Item</a>
    {% endif %}
    
    <div id="comments">
    	<h1>Comments on {{object.name}}</h1>
    	{% get_comment_list for object as comment_list %}
    	{% for comment in comment_list %}
        	<div class="box">
            	<h2>{{comment.user_name}} said:</h2>
            	<div class="description">
                	<p>
                    	{{comment.comment}}
                	</p>
                	<p class="bottom">
                    	{{comment.submit_date|date:"M d Y g:i A"}}
                	</p>
            	</div>
        	</div>
     	{% endfor %}
	</div>

    {% if user.is_authenticated %}
    <div id="commentform">
        <h2>Add A Comment</h2>
        <form id="comment" action="./?type=comment" method="POST">
            {{comment_form.as_ul}}
            <input type="submit" name="submit" class="submit-post" value="Preview">
        </form>
    </div>
	<p id="showcomment" style="display:none;"><a href="#comment" name="comment" onclick="RESTAUARANT.showcommentform()">Add a Comment</a></p>
	{% else %}
        <a href='/accounts/login/?next={{ object.get_absolute_url }}'>Add a Comment</a>
    {% endif %}
    

{% endblock %}