{% extends "base.html" %}

{% block content %}
	<h1>Restaurants</h1>
	<table id="restlist">
	{% for object in object_list %}
		<tr><td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td><td>{{object.get_stars|safe}}</td><td>Rated by {{ object.get_num_raters }} {{ object.get_num_raters|pluralize:"person,people" }}</td><td>Menu Items: {{ object.get_menu_item_count }}</td><td>Comments: {{object.get_comment_count}}</td></tr>
	{% endfor %}
	</table>
	<p><a href="add/">Add a restaurant</a></p>
	
{% endblock %}